header
{
    background-image: url(../images/header_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: navajowhite;
    border: 1px solid blue;
}
nav
{
    background-color: #000000;
    padding: 5px;
    text-align: center;
    
}
nav ul li
{
    list-style-type: none;
    background-color: #B2B2B2;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px solid blue;
    border-radius: 10px;
}
nav ul li a
{
    color: white;
    text-decoration: none;
}
nav ul li:hover
{
    background-color: #8E8E8E;
}
nav ul li:active
{
    background-color: aqua;
}
body
{
    background-color: black;
    color: white;
}
#content
{
    float: left;
    width: 80%;
    margin-right: 15px;
    border: 1px solid gray;
    
}
aside
{
    background-color: #000000
    border: .5px solid yellow;
    width: 18.5%;
    float: right;
}
aside ul li
{
    list-style-type: none;
}
aside ul li a
{
    color: blue;
    text-decoration: none;
}

#bigPic {
    width: 100%;
}

#active {
    background-color: green;
}

.col_detail {
    column-count: 3;
    column-rule: 1px solid white;
    column-gap: 50px;
    padding: 2px;
}

footer {
    clear: both;
    border: 1px solid orange;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    textext-align: center;
}
